html{
background:linear-gradient(45deg,#A9A9A9,#FFDEAD);
}
.a{
	font-size:20px;
	margin-top:30px;
	margin-left: 10px;

}
.a1{
	display:flex;
}
img{
	width: 100px;
	margin-right:10px;
	padding-left:480px;
	
}