html{
	background: linear-gradient(45deg,red,orange);
}
img{
	height:50%;
	

	width: 40%;
}

.vik1{
	display: inline-block;
	justify-content: space-between;
	
}
#tp{
	font-size:20px;
	color: black;
	width: 50%;
	padding-left:50%;


	
}
h1 {
  font-size: 50px;
  display:inline-block;
  background: linear-gradient(45deg,orange,red);
  text-align: center;
  color: green;
  padding-left:80%;

}
.vik2{float: left;}